* {
  margin: 0;
  padding: 0;
}
body,
html,
iframe {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content input {
  display: flex;
  width: 20vw;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  margin-right: 1px;
  background-color: rgb(158, 157, 157, 0);
  text-shadow: 1px 1px 1px white;
  font-weight: 600;
}
.content input::placeholder {
  display: flex;
  text-shadow: 1px 1px 1px rgb(209, 207, 207);
  opacity: 1;
  color: rgb(22, 22, 22);
  font-weight: 600;
}

.container button {
  cursor: pointer;
  margin-top: 10px;
  width: 10vw;
  padding: 5px;
}
iframe {
  min-width: 100vw;
  min-height: 100vh;
}
.hide {
  display: none;
}
.inputs {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: fixed;
  top: 10px;
  z-index: 0;
}
#ver {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 90%;
  font-size: 10px;
  color: rgb(158, 157, 157);
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 5vw;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  border: none;
}
#search i {
  color: blue;
  text-shadow: 1px 2px 1px black;
}
#my-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4vw;
  margin-right: 10px;
  border: 1px solid blue;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}
#my-loc i {
  color: rgb(68, 68, 252);
}
@media (max-width: 650px) {
  .inputs {
    margin-top: 7vh;
  }
  iframe {
    min-height: 93vh;
    max-height: 93vh;
  }
  .content input {
    width: 50vw;
  }
  #search {
    width: 10vw;
  }
  #my-loc {
    width: 10vw;
  }
  .toast {
    position: absolute;
    left: -70%;
    margin-top: 90%;
  }
  #ver {
    font-size: 10px;
    left: 63%;
  }
  .close {
    border-radius: 50%;
    width: 50px;
    border: none;
  }
}
